.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image-wrapper img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
  border-radius: 10px;
}
